.body-message {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.message-info {
    margin-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.message-info-content {
    padding: 10px 10px;
    background-color: azure;
}

.message-attachments {
    padding: 10px 10px;
}

.message-attachments p {
    padding: 10px 10px;
}

.message-attachments a {
    text-decoration: none;
}

.body-text-body {
    padding: 10px 10px;
    margin-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    max-width: 70%;
    max-height: 70%;

}

.body-text-body img {
    max-width: 100%;
!important;
    max-height: 100% !important;
    object-fit: fill;
}

.action-button {
    padding: 3px;
}

.message-close-red {
    background-color: #e5c7ca;
}

.message-close-green {
    background-color: #8fd19e;
}

.message-control-period {
    background-color: #1c87c9;
}
@keyframes good_period {
    0% {
        background-color: #2ba805;
        box-shadow: 0 0 3px #2ba805;
    }
    50% {
        background-color: #49e819;
        box-shadow: 0 0 10px #49e819;
    }
    100% {
        background-color: #2ba805;
        box-shadow: 0 0 3px #2ba805;
    }
}
@keyframes bad_period {
    0% {
        background-color: #f86f70;
        box-shadow: 0 0 3px #f36e6e;
    }
    50% {
        background-color: #f3393a;
        box-shadow: 0 0 10px #ec4243;
    }
    100% {
        background-color: #a80000;
        box-shadow: 0 0 3px #940000;
    }
}

.message-good-period {
      animation: good_period 1300ms infinite;
}
.message-bad-period {
    animation: bad_period 1300ms infinite;
}
