{% extends 'base.html' %}


{% block title %} Message: {{ data.id }} от {{ data.sender_name }} :: {{ block.super }} {% endblock %}

{% block table %} {% endblock %}
{% block buttons %} {% endblock %}
{% block menu %} {% endblock %}
{% block content %}


    {#New verison message.html    #}
    <div class="body-message my-position">
        <div class="message-info">
            <div class="message-info-content">


                <div class="action-button">
                    {% if data.open_order %}
                        <button type="button"
                                onclick="location.href='{% url 'message_open_order' message_id=data.id %}'"
                                class="btn btn-outline-secondary btn-sm" disabled>Принять
                        </button>
                    {% elif data.close_order %}
                        <button type="button"
                                onclick="location.href='{% url 'message_open_order' message_id=data.id %}'"
                                class="btn btn-outline-info btn-sm">Вернуть в работу
                        </button>
                    {% else %}
                        <button type="button"
                                onclick="location.href='{% url 'message_open_order' message_id=data.id %}'"
                                class="btn btn-outline-info btn-sm">Принять
                        </button>
                    {% endif %}
                    {#                        <button type="button" onclick="location.href='{% url 'new' message_id=data.id %}'" class="btn btn-outline-info btn-sm" name="close">Закрыть</button>#}
                </div>


                <h6>Отправитель - {{ data.sender_name }}</h6>
                <p class="mb-1"><small><b>Создана</b> - {{ data.datetime_send }}</small></p>
                <p class="mb-1"><small><b>Принята</b> - {{ data.date_accepted }}</small></p>

                {% if data.is_past_due and data.open_order %}
                    <p class="mb-1 message-bad-period"><small><b>Срок</b> - {{ data.control_period }}</small></p>
                {% elif data.is_past_due and data.close_order %}
                    <p class="mb-1"><small><b>Срок</b> - {{ data.control_period }}</small></p>
                {% else %}
                    <p class="mb-1 message-good-period"><small><b>Срок</b> - {{ data.control_period }}</small></p>
                {% endif %}

                {% if data.close_order %}
                    <p class="mb-1 message-close-green"><small><b>Закрыта</b> - {{ data.date_complited }}</small></p>
                {% else %}
                    <p class="mb-1 message-close-red"><small><b>Закрыта</b> - {{ data.date_complited }}</small></p>
                {% endif %}
                <p class="mb-1"><small><b>Тема</b> - {{ data.subject }}</small></p>
                <p class="mb-1"><small><b>Email</b> - {{ data.sender_email }}</small></p>
            </div>
            <div class="message-attachments">
                {% if data.yes_no_attach %}
                    <i class="bi bi-paperclip"></i>
                {% else %}

                {% endif %}
                {% for attach in attachment %}
                    <p><a href="{{ dir }}{{ attach.link }}"
                          class="link-info p-2 border rounded-3 bs-popover-right">{{ attach.name }}</a></p>
                {% endfor %}

            </div>
        </div>
        <div class="body-text-body">
            {{ data.text_body|safe }}
        </div>
        <div class="card">
            <div class="card-header">Общение с {{ data.sender_name }}</div>
            <div class="card-body height3">
                <ul class="chat-list">
                    {% for cont in chat_data %}
                        {% if cont.sender == 1 %}
                            <li class="in">
                                {% else %}
                            <li class="out">
                        {% endif %}
                    <div class="chat-body">
                        <div class="chat-message">
                            <h5>{{ cont.user_name }}</h5>
                            <p>{{ cont.content }}</p>
                            <small class="text-muted text-white-50">{{ cont.datetime_send }}</small>
                        </div>
                    </div>

                    </li>
                    {% endfor %}
                    <a href="{% url "send_email" message_id=data.id %}" class="link-primary">Ответить</a>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}












