{% extends 'base.html' %}

{% block title %} Message: {{ data.id }} от {{ data.sender_name }} :: {{ block.super }} {% endblock %}

{% block messages %}
    {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}
{% endblock %}

{% block content %}
    {#New verison message.html    #}
    <div class="body-message my-position">
        <div class="message-info">
            <div class="message-info-content">
                <div class="action-button">
                    {% if data.open_order %}
                        <button type="button"
                                onclick="location.href='{% url 'message_open_order' message_id=data.id %}'"
                                class="btn btn-outline-secondary btn-sm" disabled>Принять
                        </button>
                    {% elif data.close_order %}
                        <button type="button"
                                onclick="location.href='{% url 'message_open_order' message_id=data.id %}'"
                                class="btn btn-outline-info btn-sm">Вернуть в работу
                        </button>
                    {% else %}
                        <button type="button"
                                onclick="location.href='{% url 'message_open_order' message_id=data.id %}'"
                                class="btn btn-outline-info btn-sm">Принять
                        </button>
                    {% endif %}
                    {#                        <button type="button" onclick="location.href='{% url 'new' message_id=data.id %}'" class="btn btn-outline-info btn-sm" name="close">Закрыть</button>#}
                </div>
                <h6>Отправитель - {{ data.sender_name }}</h6>
                <p class="mb-1"><small><b>Создана</b> - {{ data.datetime_send }}</small></p>
                <p class="mb-1"><small><b>Принята</b> - {{ data.date_accepted }}</small></p>

                {% if data.is_past_due and data.open_order %}
                    <p class="mb-1 message-bad-period"><small><b>Срок</b> - {{ data.control_period }}</small></p>
                {% elif data.is_past_due and data.close_order %}
                    <p class="mb-1"><small><b>Срок</b> - {{ data.control_period }}</small></p>
                {% else %}
                    <p class="mb-1 message-good-period"><small><b>Срок</b> - {{ data.control_period }}</small></p>
                {% endif %}
                <p class="mb-1"><small><b>Тема</b> - {{ data.subject }}</small></p>
                <p class="mb-1"><small><b>Email</b> - {{ data.sender_email }}</small></p>
                {% if data.close_order %}
                    <p class="mb-1 message-close-green"><small><b>Закрыта</b> - {{ data.date_complited }}</small></p>

                    <ul class="list-group">
                        <hr>
                        <li class="list-group-item list-group-item-light"
                            aria-current="true"><b>Закрыта по категориям:</b></li>
                        {% for category in category.choice.all %}
                            <li class="list-group-item list-group-item-primary"
                                aria-current="true"><small>{{ category.get_name_display }}</small></li>
                        {% endfor %}
                        <li class="list-group-item list-group-item-light"
                            aria-current="true"><p><small><b>Комментарий:</b></small></p>
                            <small>{{ category.comment }}</small></li>

                    </ul>

                {% else %}
                    <p class="mb-1 message-close-red"><small><b>Закрыта</b> - {{ data.date_complited }}</small></p>

                {% endif %}
            </div>
            {#            <div class="message-attachments">#}
            {#                {% if data.yes_no_attach %}#}
            {#                    <i class="bi bi-paperclip"></i>#}
            {#                {% else %}#}
            {##}
            {#                {% endif %}#}
            {#                {% for attach in attachment %}#}
            {#                    <p><a href="{{ dir }}{{ attach.link }}"#}
            {#                          class="link-info p-2 border rounded-3 bs-popover-right">{{ attach.name }}</a></p>#}
            {##}
            {#                    <div class="card" style="width: 10rem;">#}
            {##}
            {#                        <img src="{{ dir }}{{ attach.link }}" class="card-img-top" alt="...">#}
            {#                        <div class="card-body">#}
            {#                            <p class="card-text"><small>{{ attach.name }}</small></p>#}
            {##}
            {#                            <a href="{{ dir }}{{ attach.link }}" class="card-link"><i class="fa-solid fa-download" style="color: #6c757d;"></i></a>#}
            {#                        </div>#}
            {#                    </div>#}
            {##}
            {#                {% endfor %}#}
            {##}
            {#            </div>#}
        </div>
        <div class="body-text-body">
            {{ data.text_body|safe }}
            <hr>
            <div class="message-attachments">
                {% if data.yes_no_attach %}
                    <i class="bi bi-paperclip"></i>
                {% else %}

                {% endif %}
                <div class="row row-cols-1 row-cols-md-4 g-5">
                    {% for attach in attachment %}
                        {#                    <p><a href="{{ dir }}{{ attach.link }}"#}
                        {#                          class="link-info p-2 border rounded-3 bs-popover-right">{{ attach.name }}</a></p>#}
                        <div class="col">
                            <div class="card border-light mb-3 change-card" style="width: 6rem;">
                                <div class="card-header" title="{{ attach.name }}"><small>{{ attach.name|truncatechars:13 }}</small></div>
                                <a href="{{ dir }}{{ attach.link }}">
                                    <img src="{{ dir }}{{ attach.link }}" class="card-img-top"
                                         alt="{{ attach.slice_string }}"></a>
                                <div class="card-footer"><small>{{ attach.slice_string }}</small></div>
                            </div>

                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">Общение с {{ data.sender_name }}</div>
            <div class="card-body height3">
                <ul class="chat-list">
                    {% for cont in chat_data %}
                        {% if cont.sender_id == 1 %}
                            <li class="in">
                                {% else %}
                            <li class="out">
                        {% endif %}
                    <div class="chat-body">
                        <div class="chat-message">
                            <h5>{{ cont.user_name }}</h5>
                            <p>{{ cont.content }}</p>
                            <small class="text-muted text-white-50">{{ cont.datetime_send }}</small>
                        </div>
                    </div>

                    </li>
                    {% endfor %}
                    <a href="{% url "send_email" message_id=data.id %}" class="link-primary">Ответить</a>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}












