<!doctype html>
{% load static %}

<html>
<link>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %} Service Desk {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-4.4.1.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/anymated-btn.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/all.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css_b5/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css_b5/bootstrap.rtl.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css_b5/bootstrap-grid.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css_b5/bootstrap-grid.rtl.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css_b5/bootstrap-reboot.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css_b5/bootstrap-reboot.rtl.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css_b5/bootstrap-utilities.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css_b5/bootstrap-utilities.rtl.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/message.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/servise-desk.css' %}"/>

</head>

<body>

<header>
    {% block nav %} {% include 'inc/_nav.html' %} {% endblock %}
</header>

{% block messages %} {% endblock %}

{% block content %} {% endblock %}

<div class="servise-desk">

    <!-- Sidebar -->

    {% block menu %}  {% endblock %}

{#    {% block content %} {% endblock %}#}

    {% block text %} {% endblock %}

    <!-- Table -->

    {% block table %} {% endblock %}


</div>
{% block pagination %} {% endblock %}

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap-4.4.1.js' %}"></script>
<script src="{% static 'js/sorting.js' %}"></script>

<script src="{% static 'js_b5/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js_b5/bootstrap.esm.js' %}"></script>
<script src="{% static 'js_b5/bootstrap.js' %}"></script>
<script src="{% static 'js_my/my.js' %}"></script>
<script src="{% static 'js_my/sidebar.js' %}"></script>
</body>
</html>

