<!doctype html>
{% load static %}

<html>
<link>
<div>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %} Service Desk {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-4.4.1.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/anymated-btn.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css_b5/bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css_b5/bootstrap.rtl.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css_b5/bootstrap-grid.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css_b5/bootstrap-grid.rtl.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css_b5/bootstrap-reboot.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css_b5/bootstrap-reboot.rtl.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css_b5/bootstrap-utilities.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css_b5/bootstrap-utilities.rtl.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/message.css' %}"/>

    </head>
</div>

<body>


{% block nav %} {% include 'inc/_nav.html' %} {% endblock %}
<div class="container-fluid">


    {% block messages %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}
    {% endblock %}

    {% block buttons %}
        <br>
        <div class="row justify-content-md-center">
            <div class="col col-lg-6">
                <div class="btn-block" role="group">
                    <button class="btn btn-outline-primary" type="button" onclick="location.href='{% url 'todo_home' %}'">
                        Список дел
                    </button>
                    <button class="btn btn-outline-secondary" type="button" onclick="location.href='{% url 'new' %}'">
                        Новые
                    </button>
                    <button class="btn btn-outline-secondary" type="button" onclick="location.href='{% url 'home' %}'">
                        Показать
                        все
                    </button>

                    <button class="btn btn-outline-secondary" type="button"
                            onclick="location.href='{% url 'accepted' %}'">
                        Принятые
                    </button>

                    <button class="btn btn-outline-secondary" type="button" onclick="location.href='{% url 'close' %}'">
                        Закрытые
                    </button>

                    {% if request.user.is_authenticated %}
                        <button type="button" class="btn btn-outline-secondary"
                                onclick="location.href='{% url 'add_order' %}'">
                            Создать
                            заявку
                        </button>
                    {% endif %}

{#                    {% block dropdown %} {% include 'inc/_dropdown_links.html' %} {% endblock %}#}
                </div>
            </div>
        </div>
        <br>
    {% endblock %}

    {% block content %} {% endblock %}

    {% block text %} {% endblock %}

    {% block table %}
        {{ task_id }} {{ task_status }}
        <div class="container">
            <div class="row">

                <table class="table table-sm" id="table2">
                    <caption>Список заявок</caption>

                    <tbody>
                    <tr>
                        <th scope="col" onclick="sortTable(0)">Действия</th>
                        <th scope="col" onclick="sortTable(1)"></th>
                        <th scope="col" onclick="sortTable(2)">id</th>
                        <th scope="col" onclick="sortTable(3)">Тема</th>
                        <th scope="col" onclick="sortTable(4)">Автор</th>
                        <th scope="col" onclick="sortTable(5)">Cпециалист</th>
                        <th scope="col" onclick="sortTable(6)">Cоздана</th>
                        <th scope="col" onclick="sortTable(7)">Срок</th>
                    </tr>

                    {% for data in content %}
                        {% if data.open_order %}
                            {% if data.is_past_due %}
                                <tr class="table-danger">
                                    {% else %}
                                <tr class="table-success">
                            {% endif %}
                        {% elif data.close_order %}
                            <tr class="table-secondary">
                                {% else %}
                            <tr class="table-primary">
                        {% endif %}

                        <td>
                            {#                                <button title="Принять" type="submit" class="btn btn-primary"#}
                            {#                                        onclick="location.href='{% url "open_order" message_id=data.id %}'"><i#}
                            {#                                        class="bi bi-file-earmark-plus"></i>#}
                            {#                                </button>#}
                            {#                                <button title="Закрыть" type="submit" class="btn btn-success"#}
                            {#                                        onclick="location.href='{% url "close_order" message_id=data.id %}'"><i#}
                            {#                                        class="bi bi-check-square"></i>#}
                            {#                                </button>#}
                            {#                                <button title="Удалить запись" type="submit" class="btn btn-danger"#}
                            {#                                        onclick="location.href='{% url "delete" message_id=data.id %}'"><i#}
                            {#                                        class="bi bi-x-square"></i>#}
                            {#                                </button>#}
                            {% if data.open_order %}
                                <a class="link-dark" title="Принять"
                                   href=""
                                   onclick="return ifOpenOrder();"><i class="bi bi-plus-square"></i></a>
                            {% else %}
                                <a class="link-primary" title="Принять"
                                   href="{% url "open_order" message_id=data.id %}"
                                   onclick="return confirmMsgApplyOrder();"><i class="bi bi-plus-square"></i></a>
                            {% endif %}

                            <a class="link-success" title="Закрыть"
                               href="{% url "close_order" message_id=data.id %}"
                               onclick="return configMsgCloseOrder();"><i class="bi bi-check-square"></i></a>
                            <a class="link-danger" title="Удалить запись"
                               href="{% url "delete" message_id=data.id %}" onclick="return configMsgDeleteOrder();"><i
                                    class="bi bi-x-square"></i></a>
                        </td>

                        {% if data.yes_no_attach %}
                            <td><i class="bi bi-paperclip"></i></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td><a href="{{ data.get_absolute_url }}">{{ data.id }}</a></td>
                        <td>{{ data.subject }}</td>
                        <td>{{ data.sender_name }}</td>
                        <td>{{ data.specialist }}</td>
                        <td>{{ data.datetime_send }}</td>
                        <td>{{ data.control_period }}</td>

                    {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
        </div>

    {% endblock %}

{% block pagination %}
    {% if page_obj.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                           tabindex="-1">Previous</a>
                    </li>
                {% endif %}

                {% for p in page_obj.paginator.page_range %}

                    {% if page_obj.number == p %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ p }}">{{ p }}<span class="sr-only">(current)</span></a>
                        </li>
                    {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    {% endif %}
{% endblock %}

</div>

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap-4.4.1.js' %}"></script>
<script src="{% static 'js/sorting.js' %}"></script>

<script src="{% static 'js_b5/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js_b5/bootstrap.esm.js' %}"></script>
<script src="{% static 'js_b5/bootstrap.js' %}"></script>
<script src="{% static 'js_my/my.js' %}"></script>
</body>
</html>

