<!--Main Navigation-->
<!-- Sidebar -->

{#<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">#}
<nav id="sidebarMenu" class="">
    {#    <div class="position-fixed">#}
    <div class="sidebar">
        <div class="list-group list-group-flush mx-2 mt-6">
            <a href="{% url 'applications:home' %}" class="list-group-item list-group-item-action py-2 ripple " aria-current="true">
                <i href="{% url 'applications:home' %}" class="fa-solid fa-home fa-fw me-3"></i><span>Главная</span>
            </a>
            <a href="{% url 'applications:new' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i href="{% url 'applications:new' %}" class="fas fa-chart-area fa-fw me-3"></i><span>Новые</span>
            </a>
            {#            <a href="{% url 'home' %}" class="list-group-item list-group-item-action py-2 ripple"><i#}
            {#                    class="fa-regular fa-rectangle-list fa-fw me-3"></i><span>Показать все</span></a>#}
            <a href="{% url 'applications:accepted' %}" class="list-group-item list-group-item-action py-2 ripple"><i
                    href="{% url 'applications:accepted' %}"
                    class="fa-solid fa-check-to-slot fa-fw me-3"></i><span>Принятые</span></a>
            <a href="{% url 'applications:close' %}" class="list-group-item list-group-item-action py-2 ripple ">
                <i href="{% url 'applications:close' %}" class="fas fa-lock fa-fw me-3"></i><span>Закрытые</span>
            </a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'todo_list:todo_home' request.user.id %}" class="list-group-item list-group-item-action py-2 ripple"><i
                    href="{% url 'todo_list:todo_home' request.user.id %}"
                    class="fas fa-chart-bar fa-fw me-3"></i><span>Список дел</span></a>
            <a href="{% url 'applications:add_order' %}" class="list-group-item list-group-item-action py-2 ripple "><i
                    href="{% url 'applications:add_order' %}"
                    class="fas fa-globe fa-fw me-3"></i><span>Создать заявку</span></a>
            {% endif %}
            <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                    class="fas fa-building fa-fw me-3"></i><span>Partners</span></a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                    class="fas fa-calendar fa-fw me-3"></i><span>Calendar</span></a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                    class="fas fa-users fa-fw me-3"></i><span>Users</span></a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                    class="fas fa-money-bill fa-fw me-3"></i><span>Sales</span></a>
        </div>
    </div>
</nav>
<!-- Sidebar -->